<html>
<head th:replace="~{base :: head}">
<meta charset="UTF-8" />
</head>
<body>

	<div th:replace="~{base :: top}"></div>

	<div th:replace="~{base :: titulo('Feijoada acompanha cerveja')}"></div>

	<div class="container">
		<div class="card mb-3">
			<h1>Cervejas</h1>
			<p>Em breve, as cervejas devidamente acompanhadas de feijoadas.</p>
			<hr />
		</div>
	<div class="container">
	
		<div th:each="cerveja : ${cervejas}" class="card mb-3">
			
			<div class="card-body">
			<h2 th:text="${cerveja.nome }" class="card-title"></h2>
			<p>Leia mais sobre <a th:href="@{/cervejas/} + ${cerveja.slug}" class="card-link"><span th:text="${cerveja.nome }"></span></a></p>
			<hr />
			</div>
		</div>
	</div>
	</div>

</body>
</html>