<html>
<head th:replace="~{base :: head}">
<meta charset="UTF-8" />
</head>
<body>

	<div th:replace="~{base :: top}"></div>

	<div th:replace="~{base :: titulo('Feijoada e Cerveja')}"></div>

	<div class="container">
			<h1>Cervejas</h1>
			<p>Além da caipirinha, também é muito bom uma cerveja para acompanhar a feijoada.</p>
	</div>
	
	<div class="container">
	
		<div th:each="cerveja : ${cervejas}" class="card mb-3">
			
			<div class="card-body">
			<h2 th:text="${cerveja.nome }" class="card-title"></h2>
			<p>Leia mais sobre <a th:href="@{/cervejas/} + ${cerveja.slug}" class="card-link"><span th:text="${cerveja.nome }"></span></a></p>
			</div>
		</div>
	</div>

	<footer th:replace="~{base :: footer}"></footer>

</body>
</html>