<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{base :: head}">
<meta charset="UTF-8" />
</head>
<body>

	<div th:replace="~{base :: top}"></div>

	<div th:replace="~{base :: titulo('Feijoada e Cerveja')}"></div>

	<div class="container">
		<h1>Links</h1>
	</div>

	<div class="container">

		<div class="row">

			<div class="col">
				<p>
					<a href="https://abelaeobigode.com.br/holambra/" target="_blank">Holambra</a>
				</p>
				<p>
					<a href="https://abelaeobigode.com.br/we-coffee/" target="_blank">Cafeteria
						We Coffee</a>
				</p>
				<p>
					<a
						href="https://abelaeobigode.com.br/feijoada-zona-norte-sao-paulo/" target="_blank">Feijoada
						na Zona Norte de São Paulo</a>
				</p>
				<p>
					<a href="https://abelaeobigode.com.br/o-tradicionalissimo/" target="_blank">Donuts
						O Tradicionalíssimo Santa Cruz</a>
				</p>
				<p>
					<a href="https://www.hurpia.com.br/" target="_blank">Textos do Hurpia</a>
				</p>
				<p>
					<a href="https://www.vilamariana.com.br/" target="_blank">Vila Mariana</a>
				</p>
			</div>

		</div>
	</div>

	<footer th:replace="~{base :: footer}"></footer>

</body>
</html>
