<html>
<head th:replace="~{base :: head}">
<meta charset="UTF-8" />
</head>
<body>

	<div th:replace="~{base :: top}"></div>

	<div th:replace="~{base :: titulo(${restaurante.nome})}"></div>

	<div class="container">
			<h1 th:text="${restaurante.nome}"></h1>
			
		<div th:each="prato : ${pratos}" class="card mb-3">
		<div class="card-body">
			<p class="card-subtitle mb-2 text-muted" th:text="${'Data: ' + #temporals.format(prato.data, 'dd/MM/yyyy')}"></p>
			<p class="card-text" th:text="${prato.descricao}"></p>
			</div>
			
			<p class="card-text" th:utext="${prato.foto}"></p>
		</div>
			
	</div>

</body>
</html>