<!DOCTYPE html>
<head th:replace="~{base :: head}">
<meta charset="UTF-8" />
</head>
<body>

	<div th:replace="~{base :: top}"></div>

	<div th:replace="~{base :: titulo(${restaurante.nome})}"></div>

	<div class="container">

		<div th:each="prato : ${pratos}" class="card mb-3">
			<div class="card-body">

				<div class="row">

					<div class="col-12 col-md-4">

						<p class="card-subtitle mb-2 text-muted"
							th:text="${'Data: ' + #temporals.format(prato.data, 'dd/MM/yyyy')}"></p>

						<p class="card-text">
						<div th:remove="tag"
							th:utext="${#strings.replace(prato.descricao,'&#10;','<br />')}"></div>
						</p>
					</div>

					<th:block th:each="foto : ${prato.fotos}">
						<div class="col-12 col-md-4 mt-2">
							<img th:src="${foto.url}" class="d-block w-100" />
						</div>
					</th:block>

				</div>

			</div>

		</div>

	</div>

	<footer th:replace="~{base :: footer}"></footer>

</body>
</html>